<style>
body { margin: 0;
        padding: 0;
}

.navbar {
    width: 100%;
    background-color: rgb(7, 1, 1);
    overflow: auto;
    text-align: right;
}

.navbar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 2px 0;
    color:white;
    font-size: 20px;
}

.navbar a:hover {
    background-color: rgb(79, 224, 243);
}

.active {
    background-color: #4caf50;
}

.nav-icon {
    float: left;
    padding-left: 10px;
}




</style>